<launch>
	<node pkg="task1" type="ring_detector.py" name="image_converter" output="screen" />
	<node pkg="task1" type="ellipse_locator.py" name="ellipse_locator" output="screen" />
	<node pkg="task1" type="get_checkpoints.py" name="get_checkpoints_server" output="screen" />
	<node pkg="task1" type="main.py" name="main" output="screen" />
	<node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>
</launch>
